frontend/node_modules
frontend/package-lock.json
/backend/scraping
/backend/dbenv
/dbenv
backend/__pycache__/server.cpython-313.pyc
backend/cred.json
backend/__pycache__/server.cpython-313.pyc
/backend/__pycache__
